body{
    background: white;
    font-family: Times New Roman;
}
#header_div{
    background: #404040;
    width: 808px;
    height: 25px;
    text-align: right;
    margin-bottom: 30px;
}
#header{
    padding-right: 10px;
    color: white;
    font-variant: small-caps;
}
#header2{
    padding-right: 20px;
    color: white;
    font-variant: small-caps;
}
#error{
    width: 768px;
    margin: 0 auto;
    border: #EDF4E3 5px dotted;
    background-color: #DCDCDC;
    text-align: center;
    padding: 10px;
}
h4{
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
}
#member{
    margin: 10px;
    margin-bottom: 18px;
    margin-left: 18px;
    width: 235px;
    height: 330px;
    float: left;
    overflow: hidden;
    border: 1px solid #404040;
}
#wrapper{
    width: 804px;
    background: #EDF4E3;
    margin: 0 auto;
    overflow: auto;
}
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 6px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 2px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}
.button2 {
    background-color: #EDF4E3; 
    color: black; 
    border: 1px solid #404040;
}
.button2:hover {
    background-color: #1AB4ED;
}
.circle_button{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 9px 14px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 4px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 50%;
}
.circle_button2 {
    background-color: #EDF4E3; 
    color: black; 
    border: 1px solid #404040;
    margin-left: 15px;
}
.circle_button2:hover {
    background-color: #1AB4ED;
}
.button3 {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 8px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 2px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}
.button4 {
    background-color: #EDF4E3; 
    color: black; 
    border: 1px solid #404040;
}
.button4:hover {
    background-color: #1AB4ED;
}
table{
    margin: 0 auto;
}
#footer{
    width: 808px;
    margin: 0 auto;
    border-bottom: #EDF4E3 10px solid;
}
